body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    border: 2px solid #333; 
    
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    background-color: hotpink;
    border: 1px solid #999; 
}

#gameStatus {
    font-size: 1.5em;
    font-weight: bold; 
    text-align: center;
    margin-bottom: 20px; 
}

#resetButton { 
    padding: 10px 20px;
    font-size: 1.2em; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; 
}